/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fine Reset */

/* Generali */

body {
  font-family: 'Roboto', sans-serif;
}


ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin: 0 10px;


}
i {
  font-size: 22px;
  color: #b1b1b1;
}
img {
  border-radius: 50%;

}
/* Fine Generali */

/* Layout */

.ms_wrapper-bg-gradient {
  height: 100vh;
  min-width: 1024px;
  position: relative;
  background: rgb(12,151,144);
  background: linear-gradient(180deg, rgba(12,151,144,1) 20%, rgba(220,219,211,1) 20%);
}

.ms_container-webapp {
  height: 95%;
  width: 80%;
  min-width: 300px;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  margin: auto;

}

/* Layout Sidebar  */
.ms_sidebar {
  float: left;
  width: 400px;
  height: 100%;
  background-color: #fff;
}

.ms_top-bar.ms_left {
  border-right: 0.20px solid lightgrey;
}

.ms_content {
  float: right;
  height: 100%;
  width: calc(100% - 400px);
  min-width: 400px;
}

/* barra superiore */
.ms_top-bar {
  width: 100%;
  height: 90px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ms_top-bar img {
    height: 80%;
    border-radius: 50%;
    margin: 0 10px;
}
/* barra delle notifiche */
.ms_sidebar .ms_notification {
  display: flex;
  flex-flow: row wrap;
  justify-content:  flex-start;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #8edafc;
}
.ms_notification-icon {
  color: #8edafc;
  border-radius: 50%;
  background-color: #fff;
  padding: 16px 12px;
  margin: 0 10px 0 30px;
}
.ms_bell i {
  font-size: 25px;
}
.ms_bell-text p {
  padding: 5px 0;
  font-size: 15px;

}
.ms_bell-text a {
  font-size: 13px;
  color: grey;
}
/* fine barra delle notifiche */

/* barra ricerca */
.ms_sidebar .ms_search-bar {
  position: relative;
  height: 50px;
  background-color: #fafafa;
  margin: 0px 5px;

}

.ms_form input {
  width: 100%;
  height: 100%;
  padding: 10px 20px 10px 45px;
  margin: 5px 0px;
  border: .25px solid #F5F5F5;;
  border-radius: 4px;
}

.ms_form input::placeholder{
  font-size: 12px;
  color: #b1b1b1;
}
.ms_search-icn{
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 20px;

}
/* fine barra ricerca */

/* Elenco Chat */
.ms_sidebar .ms_chatList {
  height: calc(100% - 230px);
}

.ms_chat-item {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: .2px solid #F5F5F5;
}
.ms_chat-item .ms_avatar {
  margin: 0 15px;

}
.ms_chat-item .ms_info-contact p{
  color: #D0D0D0;
  margin: 5px 0;
}

/* Fine Elenco Chat */

/* fine layout Sidebar  */


/* Content layout */

.ms_message {
  height: calc(100% - 160px);
  background-image: url(../img/mine.jpg)
}

.ms_textArea {
  height: 70px;
  background-color: #f3eeea;
}




/*  Fine Layout */

/* Classi  */
.ms_overflow {
  overflow: hidden;
  overflow-y: scroll;

}



.ms_chatList img {
  width: 70px;
}


/* Fine Classi  */


/* MediaQuery */
/* Fine MediaQuery */
