/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fine Reset */

/* Generali */

body {
  font-family: 'Roboto', sans-serif;
}


ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin: 0 15px 0 8px


}
i {
  font-size: 22px;
  color: #b1b1b1;
}
img {
  border-radius: 50%;
  width: 100%;

}

input:focus{
  color: grey;
  border: 1px solid purple;

}

/* Fine Generali */


/* Layout MacroAree */
/* ---- Wrapper  */
.ms_wrapper-bg-gradient {
  height: 100vh;
  min-width: 1044px;
  position: relative;
  background: rgb(12,151,144);
  background: linear-gradient(180deg, rgba(12,151,144,1) 20%, rgba(220,219,211,1) 20%);
}

/* ----contentitore webApp */
.ms_container-webapp {
  height: 95%;
  width: 80%;
  min-width: 300px;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  margin: auto;

}
/* ---- colonna Sinistra */
.ms_sidebar {
  float: left;
  width: 400px;
  height: 100%;
  background-color: #fff;
}
/* ---- colonna Destra */
.ms_content {
  float: right;
  height: 100%;
  width: calc(100% - 400px);
  min-width: 400px;
}

/* ---- Barra delle notifiche */
.ms_notification {
  display: flex;
  flex-flow: row wrap;
  justify-content:  flex-start;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #8edafc;
}

/* ---- Barra ricerca */
.ms_search-bar {
  position: relative;
  height: 50px;
  background-color: #fafafa;
  margin: 0px 5px;

}

/* ---- Elenco chat contatti */
.ms_chatList {
  height: calc(100% - 230px);
}

/* ---- Area visualizzazione messaggi */
.ms_message-view {
  height: calc(100% - 160px);
  padding: 50px 80px;
  background-image: url(../img/mine.jpg)
}

/* barra inferiore destra  */
.ms_bottom-Bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #f3eeea;
}
/* Fine Layout MacroAree */

/* Layout */


/* ---- Layout Sidebar  */

.ms_top-bar.ms_left {
  border-right: 0.20px solid lightgrey;
}
/* ---- barra superiore */
.ms_top-bar {
  width: 100%;
  height: 90px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- barra delle notifiche */

.ms_notification-icon {
  color: #8edafc;
  border-radius: 50%;
  background-color: #fff;
  padding: 16px 12px;
  margin: 0 15px 0 30px;
}
.ms_bell i {
  font-size: 25px;
}
.ms_bell-text p {
  padding: 5px 0;
  font-size: 15px;

}
.ms_bell-text a {
  font-size: 13px;
  color: grey;
}
/* ---- fine barra delle notifiche */

/* ---- barra ricerca */
.ms_form input {
  width: 100%;
  height: 100%;
  padding: 10px 20px 10px 45px;
  margin: 5px 0px;
  border: .25px solid #F5F5F5;;
  border-radius: 4px;
}

.ms_form input::placeholder{
  font-size: 12px;
  color: #b1b1b1;
}

.ms_search-icn{
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 20px;
}

/* fine barra ricerca */


/* ---- lista contatti */
.ms_chat-item {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: .2px solid #9e9e9e57;

}
.ms_chat-item .ms_avatar {
  height: 60px;
  width: 60px;
}

/* informazioni contatti */
.ms_info-contact {
  position: relative;
  flex-grow: 1;
}
.ms_info-contact p{
  color: #B0B0B0;
  margin: 5px 0;
}
.ms_info-contact span {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 12px;
  color: #B0B0B0;
}


/* Fine Elenco Chat */

/* fine layout Sidebar  */


/* Content layout */

/*  ---- area visualizzazione messaggi */

/*  ---- fine area visualizzazione messaggi */

.ms_message-view .ms_message {
  position: relative;
  padding: 25px 100px 25px 15px;
  margin: 15px 0;
  max-width: 70%;
  border-radius: 10px;
  clear: both;
}
.ms_message-view .ms_message.send {
  background-color: #d5f9ba;
  float: right;
}

.ms_message-view .ms_message.received {
  background-color: #fff;
  float: left;
}

.ms_message .ms_messageTime {
  position: absolute;
  right: 10px;
  bottom: 3px;
}
.ms_message .ms_messageTime span {
  font-size: 12px;
    color: #B0B0B0;
}

/* --- input messaggio */
.ms_bottom-Bar .ms_form-message{
  width: 100%;
}
.ms_bottom-Bar .ms_icon i {
  margin: 0 20px;
  font-size: 25px;
}
.ms_bottom-Bar .ms_form-message input {
  height: 40px;
  border: none;
  width: 100%;
  padding: 0 10px;
}

/* ---  fine input messaggio */




/*  Fine Layout */

/* Classi  */
.ms_overflow {
  overflow: hidden;
  overflow-y: scroll;

}

.ms_avatar {
  height: 50px;
  width: 50px;
  margin: 0 15px;

}

.ms_with-dropdown i {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 12px;
}

.ms_message:hover i {
  display: block;
  animation: 3s;
}

.ms_dropdown {
  display: none;

}
.ms_dropdown.active {
  display: block;
}

.ms_dropdown {
  position: absolute;
  top: 74%;
  left: 40px;
  z-index: 1;
  width: 180px;
  background-color: #fff;
  box-shadow: 0px 15px 23px -21px rgba(0,0,0,0.64);

}
.ms_dropdown li {
  padding: 20px 10px;
}

.ms_dropdown li a {
  text-decoration: none;
  color: grey;
}


.templates {
  display: none;
}

/* Fine Classi  */


/* MediaQuery */
/* Fine MediaQuery */
